.git
.vagrant
craft/app
src/node_modules
*.pyc
/ops/roles/bgrrtt.zim
/ops/roles/geerlingguy.firewall
/ops/roles/geerlingguy.nginx
/ops/roles/geerlingguy.php
/ops/roles/geerlingguy.mysql
/ops/roles/geerlingguy.php-mysql
