html {
  @include typi-base();
}

body {
  color: $body-color;
  font-family: $base-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  color: $heading-color;
  margin: 0;
}

h1 { @include typi($h1-map); }
h2 { @include typi($h2-map); }
h3 { @include typi($h3-map); }
h4 { @include typi($h4-map); }
h5 { @include typi($h5-map); }
h6 { @include typi($h6-map); }

p {
  @include typi($p-map);
  margin: 0 0 $base-spacing / 2;
}

a {
  color: $link-color;
  transition: color 0.1s linear;

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }

  &:active,
  &:focus {
    color: $link-hover-color;
  }
}

hr {
  border: none;
  border-bottom:  1px solid $border-color;
  margin: $base-spacing 0;
}

img {
  margin: 0;
  max-width: 100%;
}

abbr,
acronym {
  border-bottom: 1px dotted $border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-spacing / 2);
}

hgroup {
  margin-bottom: $base-spacing / 2;
}

del {
  color: lighten($body-color, 15);
}

blockquote {
  border-left: 2px solid $border-color;
  color: lighten($body-color, 15);
  margin: $base-spacing 0;
  padding-left: $base-spacing / 2;
}

cite {
  color: lighten($body-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}
