$typi: (
  null:  (18px, 2),
  small: (18px, 2),
  med:   (18px, 2),
  large: (18px, 2),
  wide:  (18px, 2),
  mega:  (18px, 2),
);

$h1-map: (
  null:  (2em, 1.2),
  small: (2em, 1.2),
  med:   (2em, 1.2),
  large: (2em, 1.2),
  wide:  (2em, 1.2),
  mega:  (2em, 1.2),
);

$h2-map: (
  null:  (1.75em, 1.2),
  small: (1.75em, 1.2),
  med:   (1.75em, 1.2),
  large: (1.75em, 1.2),
  wide:  (1.75em, 1.2),
  mega:  (1.75em, 1.2),
);

$h3-map: (
  null:  (1.5em, 1.2),
  small: (1.5em, 1.2),
  med:   (1.5em, 1.2),
  large: (1.5em, 1.2),
  wide:  (1.5em, 1.2),
  mega:  (1.5em, 1.2),
);

$h4-map: (
  null:  (1.25em, 1.2),
  small: (1.25em, 1.2),
  med:   (1.25em, 1.2),
  large: (1.25em, 1.2),
  wide:  (1.25em, 1.2),
  mega:  (1.25em, 1.2),
);

$h5-map: (
  null:  (1em, 1.2),
  small: (1em, 1.2),
  med:   (1em, 1.2),
  large: (1em, 1.2),
  wide:  (1em, 1.2),
  mega:  (1em, 1.2),
);

$h6-map: (
  null:  (1em, 1.2),
  small: (1em, 1.2),
  med:   (1em, 1.2),
  large: (1em, 1.2),
  wide:  (1em, 1.2),
  mega:  (1em, 1.2),
);

$p-map: (
  null:  (1em, 1.4),
  small: (1em, 1.4),
  med:   (1em, 1.4),
  large: (1em, 1.4),
  wide:  (1em, 1.4),
  mega:  (1em, 1.4),
);
